{% extends 'basedashboard.html' %}

{% block homelogo %}
<a hef="Reader"><a href="/Author" style="color: rgb(240, 85, 64); "><h3><i class="fas fa-home"></i></h3></a></a>
{% endblock homelogo %}

{% block navi %}
 <ul>
<li><a href="/Athrdashboard"><i class="fas fa-user"></i></i><span class="hidden-xs hidden-sm">Account</span></a></li>
<li ><a href="/Athrdashboard/wishlist"><i class="fas fa-heart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Wishlisht</span></a></li>
<li ><a href="/Athrdashboard/cart"><i class="fas fa-shopping-cart"></i><span class="hidden-xs hidden-sm">Cart</span></a></li>
<li class="active"><a href="/Athrdashboard/addbooks"><i class="fas fa-plus-circle"></i><span class="hidden-xs hidden-sm">Add Books</span></a></li>
<li><a href="/Athrdashboard/settings"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Setting</span></a></li>
<li><a href="/logout"><i class="fas fa-sign-out-alt"aria-hidden="true"></i><span class="hidden-xs hidden-sm">Logout</span></a></li>
</ul>
{% endblock navi %}

{% block dashbody %}
<h1>Hello, {{username}}</h1>


  <h3>Fill in to get started</h3>
  <p>(All the fields mentioned in the form are to be mandatorily filled inorder to publish the books) </p>
  <form action="/Athrdashboard/addbooks" method="POST" enctype = "multipart/form-data" class="px-1" >
    <div class="form-group " >
      <label for="exampleFormControlInput1">Book Title</label>
      <input type="text" class="form-control" id="Booktitle" name="Booktitle"required>
    </div>
    
   
    <div class="form-group ">
      <label for="exampleFormControlTextarea1">  Description </label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" col="4"required name="Description"></textarea>
    </div>
   <label for=""> Enter the price</label>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="Free" name="Price"  value="Free" required>
      <label class="form-check-label"  name="Price"  value="Free">Free</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id ="Paid"name="Price"  value="Paid"required>
      <label class="form-check-label" >Paid</label>
    </div>
    <div class="form-group " >
      <label for="exampleFormControlInput1">Amount</label>
      <input type="number" class="form-control" id="Amount" name="Amount" min="1">
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Choose an image for your book</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1 "accept="image/*" name="image"required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Upload your pdf</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1" accept="application/pdf" name="pdffile"required>
    </div>
    <button type="submit" class="btn btn-primary " style="margin-bottom: 10px;" >Submit</button>
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
              {% for category, message in messages %}

              <div class="alert-{{ category }} alert-dismissible " role="alert" style="padding-top: 5px;padding-bottom: 5px;">
                  
                  <strong style="padding:15px;">{{ message }}</strong>
                  <button type="button" class="close bg danger" data-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display='none';">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
  
              {% endfor %}
    {% endif %}
{% endwith %}
    
  </form>
  


        
    
</div>
<script type="text/javascript">
  $(function () {
      // First add disabled properties to inputs
      $("#Amount").prop('disabled', true);

      // Yes Input
      $("#Free").on("click", function () {
          $("#Amount").prop('disabled', true);
      });

      // No Input
      $("#Paid").on("click", function () {
          $("#Amount").prop('disabled', false);
      });
  });
</script>
{% endblock dashbody %}