{% extends 'base.html' %}

{% block title %}
E-Book
{% endblock title %}

{% block icons %}
 <div id="icons">
   <a href="Athrdashboard/wishlist" ><i class="fas fa-heart" width=></i></a>
   <a href="Athrdashboard/cart"><i class="fas fa-shopping-cart"></i></a>
   <a href="Athrdashboard"><i class="fas fa-user"></i></a>
 </div>
{% endblock icons %}


{% block nav %}

<div class="navbar">
<a href="/Author">Home</a>&nbsp;&nbsp;
<a href="#">View&nbsp;Collections </a>&nbsp;&nbsp;
<a href="/logout">Logout</a>&nbsp;&nbsp;
<a href="#">Wishlist</a>&nbsp;&nbsp;
</div>
{% endblock nav %}