{% extends 'base.html' %}

{% block title %}
Author
{% endblock title %}

{% block icons %}
 <div id="icons">
   <a href="Athrdashboard/wishlist" ><i class="fas fa-heart" width=></i></a>
   <a href="Athrdashboard/cart"><i class="fas fa-shopping-cart"></i></a>
   <a href="Athrdashboard"><i class="fas fa-user"></i></a>
 </div>
{% endblock icons %}


{% block nav %}

<div class="navbar">
<a href="/Author">Home</a>&nbsp;&nbsp;
<a href="/ViewCollections">View&nbsp;Collections </a>&nbsp;&nbsp;
<a href="/logout">Logout</a>&nbsp;&nbsp;
<a href="#">Wishlist</a>&nbsp;&nbsp;
</div>
{% endblock nav %}

{% block newreleases %}

{% for items in newreleases %}
<div class="booksec">
  <div class="book_image"> 
    <img src="{{ url_for('static', filename='css/images/books/')}}{{items.book_img}}" alt="book img"class="bookimg"  width="175px">
  </div>
  <div class="description">      
    <h4>{{items.book_title}}</h4>
    <h5>by:   {{items.author.auth_name}} </h5><hr>
    <p style="font-weight: 500;">Description :</p>
    <div class="desc" style="line-height: 35px;min-height:150px ;">  {{items.book_desc}}</div><hr>
    <p class="price"> PRICE (inr.) : {{items.price}} </p>

  <div class="stage" >
    <form action="{{url_for('buynow',bookid=items.book_id)}}">
      <input type="hidden" name='book_id' value="{{ items.book_id }}">
      <button class="btn">Buy Now</button>
    </form><br>
    <form action="/addcart" method = "POST">
      <input type="hidden" name='book_id' value="{{ items.book_id }}">
      <button class="btn" type="submit">Add to cart</button>
    </form>
  </div>
  </div>
</div>
{% endfor %}

{% endblock newreleases %}
