{% extends 'basedashboard.html' %}

{% block homelogo %}
<a hef="Reader"><a href="Author" style="color: rgb(240, 85, 64); "><h3><i class="fas fa-home"></i></h3></a></a>
{% endblock homelogo %}

{% block navi %}
<ul>
    <li class="active"><a href="/Athrdashboard"><i class="fas fa-user"></i></i><span class="hidden-xs hidden-sm">Account</span></a></li>
    <li><a href="/Athrdashboard/wishlist"><i class="fas fa-heart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Wishlisht</span></a></li>
    <li ><a href="/Athrdashboard/cart"><i class="fas fa-shopping-cart"></i><span class="hidden-xs hidden-sm">Cart</span></a></li>
    <li><a href="/Athrdashboard/addbooks"><i class="fas fa-plus-circle"></i><span class="hidden-xs hidden-sm">Add Books</span></a></li>
    <li><a href="/Athrdashboard/settings"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Settings</span></a></li>
    <li><a href="/logout"><i class="fas fa-sign-out-alt"aria-hidden="true"></i><span class="hidden-xs hidden-sm">Logout</span></a></li>
    </ul>
{% endblock navi %}

{% block dashbody %}
<h1>Hello, {{username}}</h1>
<table class="table table-striped "  >
    {% if orderbooks %}
        <thead>
        <tr>
            <th scope="col" style="text-align:center;">ORDER ID</th>
            <th scope="col" >BOOK</th>
            <th scope="col">BOOK TITLE</th>
            <th scope="col">AUTHOR</th>
            <th scope="col">PRICE</th>
            <th scope="col" style="text-align:center;">ENJOY READING</th>

        </tr>
        </thead>
        <tbody>
            {% for items in orderbooks %}
            <tr>
                <th style="text-align:center;">{{items.ord_id}}</th>
                <td><img src="{{ url_for('static', filename='css/images/books/')}}{{items.book.book_img}}" alt="book img"class="bookimg"  width="125px" height="150px"></td>
                <th>{{items.book.book_title}}</th>
                <td>{{items.book.author.auth_name}}</td>
                <td>{{items.book.price}}</td>
                <td style="text-align:center;"><a href="{{url_for('display',doc_name=items.book.doc_name)}}" target="_blank"><i class="fas fa-arrow-circle-right fa-2x"></i></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    {% else: %}
    <div class ="no-records"><h3>No orders Yet !! <i class="far fa-frown"></i></h3></div>
    {% endif %}
</table>
{% endblock dashbody %}