<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Books</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fontawesome/css/all.min.css') }}">

</head>
<body>
    <div class="container1">
    <header>
        <div class="header1"><h1><i class="fas fa-book-reader"></i>&nbsp;E-Book</h1>
          <form action="">
            <div id="searchform"> 
             <input type="search"placeholder="Books,Authors.." name="Search-box">
             <button type="submit" id="Search-btn"> <i class="fas fa-search"></i></button>
            </div>
          </form>
        <div id="icons">
           <a href="#" ><i class="fas fa-heart" width=></i></a>
           <a href="#"><i class="fas fa-shopping-cart"></i></a>
           <a href="#"><i class="fas fa-user"></i></a>
        </div>
    </div>
    
    </header>
    
    <nav class="nav">
        <a href="/">Home</a>&nbsp;&nbsp;
        <a href="#">View&nbsp;Collections </a>&nbsp;&nbsp;
        <a href="login.html">Login</a>&nbsp;&nbsp;
        <a href="Signup.html">Signup</a>&nbsp;&nbsp;
        <a href="#">Wishlist</a>&nbsp;&nbsp;
 
       
    </nav><section class="home" id="home">

        <div class="row">
    
            <div class="content">
                <h2>Our top picks for this New Year</h2>
                <p>Lorem ipsum dolor, sit amet co</p>
                <p>igghifhgihiufhgufgi</p>
                <br>
                <div class="stage">
                    <button class="btn">Buy Now</button>
                    </div> 
            </div>
    
            <div class="swiper books-slider">
                <div class="swiper-wrapper" width ="100vw">
                    <a href="#" class="swiper-slide"><img src="{{ url_for('static',filename='css/images/books/book1.jfif') }}" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="{{ url_for('static',filename='css/images/books/book2.jfif') }}" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="{{ url_for('static',filename='css/images/books/book3.jfif') }}" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="{{ url_for('static',filename='css/images/books/book4.jfif') }}" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="{{ url_for('static',filename='css/images/books/book5.jfif') }}" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="{{ url_for('static',filename='css/images/books/book6.jfif') }}" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="{{ url_for('static',filename='css/images/books/book1.jfif') }}" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="{{ url_for('static',filename='css/images/books/book2.jfif') }}" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="{{ url_for('static',filename='css/images/books/book3.jfif') }}" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="{{ url_for('static',filename='css/images/books/book4.jfif') }}" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="{{ url_for('static',filename='css/images/books/book5.jfif') }}" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="{{ url_for('static',filename='css/images/books/book6.jfif') }}" alt=""></a>
                </div>
                <img src="{{ url_for('static',filename='css/images/books/stand.png') }}" class="stand" alt="" width="100%" height="30%">
            </div>
    
        </div>
    
    </section >
    <div class="main">
    <p class="heading"><h2>Trending</h2> </p>
    <section class="bookrows">
       
      
    <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book1.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book2.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book3.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book4.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book5.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book6.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book7.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book8.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book9.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book10.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      

</section>
<p><h2>New Releases</h2> </p>
<section class="bookrows">
    
    <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book1.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book2.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book3.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book4.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book5.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book6.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book7.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book8.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book9.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
      <div class="booksec"><img src="{{ url_for('static',filename='css/images/books/book10.jfif') }}" alt="book img"class="bookimg"><p><div class="description"><h4 >Denial of Conscience</h4><h5>by:Cat Gardiner </h5><div class="About">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error in dolorem cumque enim minus vero officia at, praesentium, nulla eum vel animi obcaecati mollitia, quisquam minima amet ratione laudantium!</p><div class="stage">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Wishlist</button>
      </div></div><div></div></div> </div>
</div>

    

    


<footer>
    <a href="#">Faq</a>&nbsp;&nbsp;
    <a href="#"> Contact us</a>&nbsp;&nbsp;
    <a href="#">Privacy Policy</a>&nbsp;&nbsp;
    <a href="#">&copy; <bold >2021 | Alpha-Trendz</bold></a>&nbsp;&nbsp;
</footer>

</div>

<script src="index.js">
   
</script>
</body>
</html>