{% extends 'base.html' %}

{% block title %}
E-Book
{% endblock title %}

{% block icons %}
 <div id="icons">
   <a href="Signup" ><i class="fas fa-heart" width=></i></a>
   <a href="Signup"><i class="fas fa-shopping-cart"></i></a>
   <a href="Signup"><i class="fas fa-user"></i></a>
 </div>
{% endblock icons %}

{% block nav %}
        
<nav class="nav">
  <a href="/">Home</a>&nbsp;&nbsp;
  <a href="#">View&nbsp;Collections </a>&nbsp;&nbsp;
  <a href="loginathr">Login For Authors</a>&nbsp;&nbsp;
  <a href="loginrdr">Login For Readers</a>&nbsp;&nbsp;
  <a href="Signup">Signup</a>&nbsp;&nbsp;
 
</nav>
{% endblock nav %}