{% extends 'base.html' %}

{% block title %}
E-Book
{% endblock title %}

{% block icons %}
 <div id="icons">
   <a href="Signup" ><i class="fas fa-heart" width=></i></a>
   <a href="Signup"><i class="fas fa-shopping-cart"></i></a>
   <a href="Signup"><i class="fas fa-user"></i></a>
 </div>
{% endblock icons %}

{% block nav %}
        

  <div class="navbar">
    <a href="/">Home</a>
    <a href="ViewCollections">View&nbsp;Collections</a>
    <div class="dropdown">
      <button class="dropbtn">Login
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="loginrdr">Login For Readers</a>
        <a href="loginathr">Login For Authors</a>
      </div>
    </div>
    <a href="Signup">Signup</a>
 


  
</div>

 

{% endblock nav %}
{% block newreleases %}
{% for items in newreleases %}
<div class="booksec">
 
<div class="book_image"> 
  <img src="{{ url_for('static', filename='css/images/books/')}}{{items.book_img}}" alt="book img"class="bookimg"  width="175px">
</div>
<div class="description">
  
  
    <h4>{{items.book_title}}</h4>
    <h5>by:   {{items.author.auth_name}} </h5><hr>
    <p style="font-weight: 500;">Description :</p>
    <div class="desc" style="line-height: 35px;min-height:150px ;">  {{items.book_desc}}</div><hr>
    <p class="price"> PRICE (inr.) : {{items.price}} </p>
  
  <div class="stage" >
    <form action=""><button class="btn">Buy Now</button></form><br>
  <form action=""><button class="btn">Add to Wishlist</button></form>
  </div>
</div>

  
</div>
{% endfor %}

{% endblock newreleases %}
</html>
