<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/lgnstyle.css') }}">
</head>
<body>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        
        
        <div class="box">
            <div class="square" style="--i:0"></div>
        <div class="square"style="--i:1"></div>
        <div class="square"style="--i:2"></div>
        <div class="square"style="--i:2"></div>
        <div class="square"style="--i:2"></div>
        <div class="container">
            <div class="form">
                <h2>Login </h2>

                <div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                          {% for category, message in messages %}
                              {% if category == "danger" %}
                                <div class="alert danger">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  
                                <strong>Invalid Credentials!</strong>
                                 </div>
                              {% else %}
                                <div class="alert success">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  
                                <strong>Signup Succesful!</strong> Please Login.
                                </div>
                              {% endif %}
                          {% endfor %}
                        {% endif %}
                    {% endwith %}
                  </div>

                <form action="/loginathr" method="post">

                    <div class="inputbox" id="e-mail">
                        <input type="email" placeholder="E-Mail id*" required id="email" name="email" required>
                    </div>

                    <div class="inputbox" id="Password">
                        <input type="password" placeholder="Password*" required id="password" name="password" required>
                    </div>
                    
                    <div class="inputbox" id="e-mail">
                        <input type="submit" value="Login">
                    </div>
                    <p class="forget">
                        Forgot Password ? <a href="#">Click here</a>

                    </p>
                    <p class="signup">
                        Don't have an account ? <a href="/Signup">Signup</a>
                    </p>
                    <p>

                    </p>

                    
                 </form>
            </div>
        </div>
        </div>
    </section>
    

    
</body>
</html>