{% extends 'basedashboard.html' %}

{% block homelogo %}
<a hef="Reader"><a href="/Reader" style="color: rgb(240, 85, 64); "><h3><i class="fas fa-home"></i></h3></a></a>
{% endblock homelogo %}

{% block navi %}
<ul>
    <li ><a href="/Rdrdashboard"><i class="fas fa-user"></i></i><span class="hidden-xs hidden-sm">Account</span></a></li>
    <li><a href="/Rdrdashboard/wishlist"><i class="fas fa-heart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Wishlist</span></a></li>
    <li class="active"><a href="/Rdrdashboard/cart"><i class="fas fa-shopping-cart"></i><span class="hidden-xs hidden-sm">Cart</span></a></li>
    <li ><a href="/Rdrdashboard/settings"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Settings</span></a></li>
    <li><a href="/logout"><i class="fas fa-sign-out-alt"aria-hidden="true"></i><span class="hidden-xs hidden-sm">Logout</span></a></li>
    </ul>
{% endblock navi %}

{% block dashbody %}
<h1>Hello, {{username}}</h1>
<table class="table table-striped "  >
    {% if 'shop_cart' in session %}
        <thead>
        <tr>
            <th scope="col" >BOOK</th>
            <th scope="col">BOOK TITLE</th>
            <th scope="col">AUTHOR</th>
            <th scope="col">PRICE</th>
            <th scope="col"style="text-align:center;">BUY NOW</th>
            <th scope="col"style="text-align:center;">REMOVE</th>

        </tr>
        </thead>
        <tbody>
            {% for key,val in session['shop_cart'].items() %}
            <tr>
                <td><img src="{{ url_for('static', filename='css/images/books/')}}{{session['shop_cart'][key]['book_image']}}" alt="book img"class="bookimg"  width="125px" height="150px"></td>
                <th>{{session['shop_cart'][key]['book_title']}}</th>
                <td>{{session['shop_cart'][key]['author_name']}}</td>
                <td>{{session['shop_cart'][key]['price']}}</td>
                <td style="text-align:center;" ><a href="{{url_for('buynow',bookid=key)}}"><i class="fas fa-cart-arrow-down fa-2x"></i></a></i></td>
                <td style="text-align:center;" ><a href="{{url_for('delete_product',bookid=key)}}"><i class="fas fa-trash fa-2x"></a></i></td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan='5'>Total cart price (INR)</th>
                <th style="text-align:center;"> Rs.{{ session['cart_price'] }}</th>
            </tr>
            <tr>
                <td colspan='5'> <a href="/emptycart" class="btn btn-danger "> Clear cart</a> </td>
                <td style="text-align:center;">      <form action="/create-checkout-session" method="POST">
                    
                    <input type="hidden" name='totalamount' value="{{ session['cart_price'] }}">
                    <button type="submit" id="checkout-button" class="btn btn-success">
                        Checkout
                    </button>
                  </form> </td>
            </tr>
        </tbody>
    {% else: %}
    <div class ="no-records"><h3>Your cart is empty <i class="far fa-frown"></i></h3></div>
    {% endif %}
  </table>
{% endblock dashbody %}