{% extends 'base.html' %}

{% block title %}
E-Book
{% endblock title %}

{% block icons %}
 <div id="icons">
   <a href="/Rdrdashboard/wishlist" ><i class="fas fa-heart" width=></i></a>
   <a href="/Rdrdashboard/cart"><i class="fas fa-shopping-cart"></i></a>
   <a href="Rdrdashboard"><i class="fas fa-user"></i></a>
 </div>
{% endblock icons %}


{% block nav %}
<div class="navbar">
<a href="/Reader">Home</a>&nbsp;&nbsp;
<a href="#">View&nbsp;Collections </a>&nbsp;&nbsp;
<a href="/logout">Logout</a>&nbsp;&nbsp;
<a href="#">Wishlist</a>&nbsp;&nbsp;
</div>
{% endblock nav %}

{% block newreleases %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}

    <div class="alert-{{ category }} alert-dismissible " role="alert" style="padding-top: 5px;padding-bottom: 5px;">
        <strong style=" color: rgb(223, 19, 19); ">{{ message }}</strong>
        <button type="button" class="close bg danger" data-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display='none';"style="border:none; color:red;">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

  {% endfor %}
  {% endif %}
{% endwith %}
{% for items in newreleases %}
<div class="booksec">
    <div class="book_image"> 
      <img src="{{ url_for('static', filename='css/images/books/')}}{{items.book_img}}" alt="book img"class="bookimg"  width="175px">
    </div>
    <div class="description">      
      <h4>{{items.book_title}}</h4>
      <h5>by:   {{items.author.auth_name}} </h5><hr>
      <p style="font-weight: 500;">Description :</p>
      <div class="desc" style="line-height: 35px;min-height:150px ;">  {{items.book_desc}}</div><hr>
      <p class="price"> PRICE (inr.) : {{items.price}} </p>

    <div class="stage" >
      <form action="">
        <input type="hidden" name='book_id' value="{{ items.book_id }}">
        <button class="btn">Buy Now</button>
      </form><br>
      <form action="/addcart" method = "POST">
        <input type="hidden" name='book_id' value="{{ items.book_id }}">
        <button class="btn" type="submit">Add to cart</button>
      </form>
    </div>
  
    </div>


    
</div>
{% endfor %}

{% endblock newreleases %}