{% extends 'base.html' %}

{% block title %}
E-Book
{% endblock title %}

{% block icons %}
 <div id="icons">
   <a href="login" ><i class="fas fa-heart" width=></i></a>
   <a href="login"><i class="fas fa-shopping-cart"></i></a>
   <a href="Rdrdashboard"><i class="fas fa-user"></i></a>
 </div>
{% endblock icons %}


{% block nav %}
<a href="/Reader">Home</a>&nbsp;&nbsp;
<a href="#">View&nbsp;Collections </a>&nbsp;&nbsp;
<a href="/logout">Logout</a>&nbsp;&nbsp;
<a href="#">Wishlist</a>&nbsp;&nbsp;
{% endblock nav %}